body {
    font-family: sans-serif;
    background-color: #efefef;
    color: #444444;
}

div#container {
    width: 98%;
    margin: 0 auto;
}

h1 { font-size: 54px; }

/*** Top ***/
div#top {
    width: 100%;
    margin-bottom: 10px;
}

#buttondiv {
    text-align: center;
    width: 600px;
    display: inline-block;
}

button#step {
    font-size: 55px;
    color: #cc3300;
    font-weight: bold;
    border: 5px solid #cc3300;
}


div#phase_name {
    text-align: center;
    font-size: 60px;
    font-weight: bold;
    color: #cc3300;
    display: inline-block;
}


/*** Players ***/

table {
    padding: 10px;
    width: 90%;
    margin: 10px auto;
    border-collapse: collapse;
    color: #cc3300;
    font-size: 42px;
    clear: both;
}

td.pp, td.regions {
    text-align: center;
}

th, td {
    padding: 12px;
    border: 4px solid #555555;
}

th#col_player { width: 50%; }
th#col_PP { width: 20%; }

table input {
    font-size: 54px;
    width: 100px;
}


/*** Add player ***/

div#add_player {
    font-size: 40px;
    margin: 15px 5px;
}

div#add_player input {
    font-size: 40px;
}


/*** Phase UI ***/

div.phase_ui {
    display: none;
}

div#phase_ui {
    padding: 10px;
}


/*** Phase Info ***/

div.phase_info {
    display: none;
}

div#phase_info {
    padding: 10px;
    border: 5px solid #404040;
}

div#phase_info h2 {
    font-size: 36px;
}
div#phase_info p,
div#phase_info li {
    font-size: 28px;
}


